# deps
node_modules/
.pnp
.pnp.js

# builds
dist/
build/
.next/
out/
.turbo/
*.tsbuildinfo

# env / secrets
.env
.env.local
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# misc
.DS_Store
coverage/
!packages/pipeline/src/coverage/
.idea/
.vscode/tooling/kits.json
